<!DOCTYPE html>
<html>
<head>
    <title>Change Image Contrast</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <h1>Change Image Contrast</h1>
    <form action="{{ url_for('contrast') }}" method="post" enctype="multipart/form-data">
        <label for="file">Select image to upload:</label>
        <input type="file" name="file" id="file" required><br><br>
        <label for="contrast">size level (0-1):</label>
        <input type="number" name="contrast" id="contrast" min="1" max="2" step="0.1" value="0.5" required><br><br>
        <div class="g-recaptcha" data-sitekey="{{ sitekey }}"></div><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
